body , h1 ,h2 , p , ul ,li ,a {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Nunito' , Arial, Helvetica, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

:root{
  --superinfobg:#122AB2;
  --intent1:#2C70FF;
  --white:#fff;
  --colortxt:#7c7c7c;
  --titulo2:#a4a4a4;
  --bgPro:#f7f7f7;
}

.superinfo-bg{
  background: var(--superinfobg);
  color: var(--white);
}

.superinfo-bg a {
  color: var(--white);
}

.superinfo{
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p , .superinfo a {
  margin: 0px 10px 10px 10px;
}

.menu-bg{
  background: var(--intent1);
}

.menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a{
  color:var(--white);
}

.menu-logo a {
  font-size :2.25rem;
  font-weight: bold;
  margin: 0 10px;
  display: block;
  transition: .3s;
}

.menu-logo a:hover{
  transform: scale(1.05);
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-size: 1.25rem;
  display: block;
  padding: 10px;
  text-transform: capitalize;
  transition: .3s;
}

.menu-nav a:hover{
  transform: scale(1.05);
}

.introducao{
  font-size:3rem;
  line-height:1;
  max-width: 960px;
  margin:0 auto;
  padding:60px 10px;
}

.sobre{
  border-top: 2px solid var(--superinfobg);
  border-bottom: 2px solid var(--superinfobg);
  max-width: 960px;
  margin:0 auto;
  padding:60px 0px;
  display:flex;
}

.sobre h1{
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.sobre-info{
  flex:2 1 300px;
  margin: 0 10px;
}

.sobre-info p {
  font-size:1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color:var(--colortxt);
}

.sobre-img{
  flex:1 1 160px;
  margin:0 10px;
  flex-wrap: wrap;
}

.produto{
  max-width:1050px;
  margin:0 auto;
}

.produto h1{
  font-size:3rem;
  margin:60px 10px 60px 10px;
  text-transform: capitalize;
}

.produtos-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.produtos-item{
flex:1 1 175px;
margin:10px 12px;
transition: .3s;
}

.produtos-item:hover{
 transform: scale(1.03);
}

.produtos-item h2 {
  font-size:3rem;
  color:var(--titulo2);
  background:var(--bgPro);
  padding:60px 20px;
  text-transform: capitalize;
}

.purple{
  border-top: 8px solid #ae81ff;
}

.pink{
  border-top: 8px solid #f9265e;
}

.blue{
  border-top: 8px solid #66d9eb;
}

.preco{
  padding:60px;
  background:var(--bgPro);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item{
  flex:1;
  border:4px solid var(--white);
  padding:20px;
  margin:10px;
  min-width: 260px;
  
}

.preco-item h2{
  font-size :3rem;
  color:var(--titulo2);
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
}

.preco-item span{
  max-width:300px;
  margin :20px auto;
  display:block;
  text-align: center;
  font-weight: bold;
  padding:10px 0 5px 0;
  border-top:4px solid var(--white);
  border-bottom:4px solid var(--white);
  font-size:3rem;
}

.preco-item sup{
  font-size:1.5rem;
}

.preco-item ul {
  max-width:300px;
  margin:20px auto;
  font-size:1.25rem;
  text-transform: capitalize;
  font-style: italic;
  color:var(--colortxt);
}

.preco-item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preco-item li::after{
  content:'';
  display:block;
  width:6px;
  height:6px;
  background:var(--intent1);
  border-radius: 50%;
}

.preco-item a {
  max-width: 300px;
  display:block;
  margin:20px auto;
  border: 4px solid;
  color:#222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;
  padding:15px 0;
  text-align: center;
}

.qualidade {
  max-width:960px;
  margin:60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item{
  flex:1 1 300px;
  margin:20px 10px;
}

.qualidade-item h2 {
  font-size:2.25rem;
  color:var(--titulo2);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.qualidade-item h2::before {
content:'';
display: inline-block;
width: 8px;
height: 30px;
margin-right: 10px;
background: blue;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
  background: #66d9eb;
}

.qualidade-item p {
	font-size: 1.25em;
	line-height: 1.4;
	color: #7c7c7c;
}

.newsletter{
  background: var(--bgPro);
  padding:60px calc((100% - 960px) /2 );
  display:flex;
  flex-wrap: wrap;
}

.newsletter-info{
  flex :1 1 240px;
  margin:0 10px
}

.newsletter-info h1 {
  font-size: 3rem;
  color: #a4a4a4;
  text-transform: capitalize;
}

.newsletter-info p {
  font-size:1.25em;
  font-style: italic;
  max-width: 230px;
  color:#7c7c7c;
}

.newsletter-form{
  flex:2 1 260px;
  margin:0 10px;
  align-self: center;
  display:flex;
  flex-wrap:wrap;
}

.newsletter-form input{
  flex:3 1 260px;
  font-size: 1.25rem;
  color :#7c7c7c;
  font-family: 'nunito';
  border:4px solid #2C70FF;
  background: transparent;
  padding:15px 10px;
  margin:0;
  border-radius: 0px;
}

.newsletter button{
  flex:1 1 200px;
  font-family: 'nunito';
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2C70FF;
  color: #fff;
  margin:0px;
  cursor: pointer;
  border: 0px;
  padding:15px 10px;
}

.footer{
  display: flex;
  background: #2C70FF;
  align-items: center;
  height: 200px;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25rem;
  color: #122AB2;
}

@media screen and (max-width:800px){

  .preco{
    padding-left:10px;
    padding-right:10px;
  }
  
  .preco .preco-item:nth-child(3){
    order:-2;
  }

  .preco .preco-item:nth-child(2){
    order:-1;
  }
}